body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ncontainer {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-row: auto auto auto;
    column-gap: 10px;
    row-gap: 10px;
    padding: 10px;
    width: 35%;
}

.ncontainer .number {
    align-items: center;
    justify-content: center;
}


.number img {
    width: 100px;
    height: 150px;
    border-radius: 5px;
}

.number img:hover {
    border: solid 2px red;
    margin: -2px;
}

.retry {
    padding: 10px 10px;
    background-color: darkblue;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    text-align: center;
}

.header {
    position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
  }