<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <title>Numbers</title>
</head>

<body>
    <div class="header">
        <h1>Numbers: che numero ho pensato?</h1>
        <p>Clicca su un numero per vedere se è quello che ho pensato</p>
        <div class="ncontainer">
            <div class="number">
                <a href="/result/1">
                    <img src="{{url_for('static', filename='img/uno.jpg')}}" alt="">
                </a>
            </div>
            <div class="number">
                <a href="/result/2">
                    <img src="{{url_for('static', filename='img/due.jpg')}}" alt="">
                </a>
            </div>
            <div class="number">
                <a href="/result/3">
                    <img src="{{url_for('static', filename='img/tre.jpg')}}" alt="">
                </a>
            </div>
            <div class="number">
                <a href="/result/4">
                    <img src="{{url_for('static', filename='img/quattro.jpg')}}" alt=""> 
                </a>
            </div>
            <div class="number">
                <a href="/result/5">
                    <img src="{{url_for('static', filename='img/cinque.jpg')}}" alt="">
                </a>
            </div>
            <div class="number">
                <a href="/result/6">
                    <img src="{{url_for('static', filename='img/sei.jpg')}}" alt="">
                </a>
            </div>
            <div class="number">
                <a href="/result/7">
                    <img src="{{url_for('static', filename='img/sette.jpg')}}" alt="">
                </a>
            </div>
            <div class="number">
                <a href="/result/8">
                    <img src="{{url_for('static', filename='img/otto.jpg')}}" alt="">
                </a>
            </div>
            <div class="number">
                <a href="/result/9">
                    <img src="{{url_for('static', filename='img/nove.jpg')}}" alt="">
                </a>
            </div>
        </div>
    </div>
</body>

</html>